<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Vectorscript</string>
	<key>uuid</key>
	<string>3D6F138F-60E6-491A-B5F6-7C5B0B96C433</string>
</dict>
</plist>
